///////////////////////////////////
///////// COLORS
$color-primary-green: #014e56;
$color-primary-coral: #f67e7e;

$color-white: #ffffff;
$color-gray: #707070;

$color-blue-light: #79c8c7;
$color-blue: #2c6269;
$color-blue-dark: #004047;

$color-green-dark: #012f34;
$color-green-vdark: #002529;

///////////////////////////////////
///////// MARGINS

$padding-mobile: 2.4rem;
$padding-tablet-small: 3.9rem;
$padding-tablet-large: 9.7rem;
$padding-desktop: 16.5rem;
